@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Permanent+Marker");
.header {
  height: 100px; }

.headerRow {
  background-image: url(../Images/crombackground2.JPG);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #4E759C; }

@media (max-width: 768px) {
  .headerRow {
    height: 220px;
    padding-bottom: 20px;
    background-position: top; } }

.header-item {
  text-align: center; }

.header-title {
  color: white;
  font-family: 'Amatic SC', helvetica, sans-serif;
  font-size: 4rem;
  border-bottom: 2px solid white;
  white-space: nowrap; }

.navButton {
  background-color: #52739388;
  border-radius: 2px; }

.navButton:not(:last-child) {
  margin-right: 6px; }

.navButton:hover {
  background-color: #D36B69; }

.navButton a {
  font-family: 'Amatic SC', helvetica, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 10px 5px; }

#headerLogin .loginButton {
  font-family: 'Amatic SC', helvetica, sans-serif;
  font-size: 1.5rem;
  border: 1px solid white;
  color: white;
  background-color: #52739388;
  border-radius: 2px; }

#headerLogin .loginButton:hover {
  background-color: #D36B69;
  text-decoration: none;
  color: white; }

@media (max-width: 768px) {
  #headerLogin a {
    padding: 5px 10px;
    font-size: 1.2rem; }
  .navButton a {
    font-size: 1.2rem; } }

.logoutButton {
  font-family: 'Amatic SC', helvetica, sans-serif;
  font-size: 1.5rem;
  border: 1px solid white;
  color: white;
  background-color: #52739388;
  border-radius: 2px; }

.logoutButton:hover {
  background-color: #D36B69;
  text-decoration: none;
  color: white; }
