@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Permanent+Marker");
.locationSearchForm {
  background-color: #557599bb;
  color: #EED792;
  position: relative;
  border-radius: 4px; }

.locationSearchFormField {
  font-family: "Josefin Sans", helvetica, sans-serif;
  padding: 15px; }

.locationSearchFormField label {
  font-family: "Josefin Sans", helvetica, sans-serif;
  font-size: 1.5rem;
  margin-top: 10px; }

.locationSearchFormField select {
  font-family: "Josefin Sans", helvetica, sans-serif;
  color: #6D757C;
  font-size: 1.2rem;
  height: 38px;
  background-color: #FFFEED;
  width: 100%; }

.locationSearchFormField input {
  background-color: #FFFEED; }

.location-submit-button {
  margin-right: 15px;
  margin-top: 15px;
  background-color: lightblue;
  border: 2px solid #557599;
  color: #FFFEED; }

.location-submit-button:hover {
  background-color: #E06D68;
  border: 2px solid white; }
