@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Permanent+Marker");
.vetDisplay {
  color: #EBD79A;
  background-color: #557599bb;
  margin-bottom: 12px;
  padding: 6px;
  border-radius: 4px;
  line-height: 2rem;
  text-align: center; }

.vetDisplay h1 {
  font-family: "Permanent Marker", helvetica, sans-serif;
  font-size: 2.5rem;
  text-decoration: underline; }

.vetDisplay p {
  font-family: "Josefin Sans", helvetica, sans-serif;
  font-size: 1.2rem; }

.image-container {
  min-height: 400px;
  max-height: 450px;
  overflow: hidden; }

.vetDisplay a {
  color: #EBD79A; }

.vetDisplay a:hover {
  color: white;
  text-decoration: none; }

.website-button {
  border: 2px solid;
  margin-bottom: 8px; }

.website-button:hover {
  background-color: #E36F6B; }
