@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Permanent+Marker');

body {
  box-sizing: border-box;
  background: url("./components/Images/crombackground2.JPG") no-repeat fixed;
  background-position: center top;
}

img {
  width: 100%;
}

.App {
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-position: top;
  }
}
