@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Permanent+Marker');

body {
  box-sizing: border-box;
  background-image: url(./components/Images/crombackground2.JPG)
}

img {
  width: 100%;
}

.App {
  text-align: center;
}
