.addStoreButton {
  background-color: #52739388;
  border: 1px solid #D1D1D1;
  font-family: 'Amatic SC', helvetica, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 10px 5px; }

.addStoreButton:hover {
  background-color: #D36B69; }
