@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Permanent+Marker');

.storesContainer {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .storesContainer {
    margin-top: 125px;
  }
}

.stores-title {
  font-family: "Josefin Sans", helvetica, sans-serif;
  margin-bottom: 20px;
  text-align: center;
  color: #EED792;
  background-color: #557599bb;
  border-radius: 4px;
  padding-top: 10px;
}

// Make headline text smaller on small screens
@media (max-width: 768px) {
  .title-headline {
    font-size: 1.4rem;
  }
}

// Make text bigger when on larger screens
@media (min-width: 768px) {
  .stores-title-text {
    font-size: 1.5rem;
  }
}

.title-headline {
  font-weight: bold;
}

.stores-title-text {
  text-align: center;
  font-family: "Josefin Sans", helvetica, sans-serif;
}

#map {
  height: 400px;
  border: 2px solid #557599;
  margin-top: 20px;
  border-radius: 4px;
}
